/*

Surfy°Maps › Chrome

*/

.SurfyMaps {
	--surfy-maps-style-name: 'Surfy°Maps.Chrome';
	--surfy-maps-tiles: 'https://sandbox.maps.surfy.one/data/tiles/canary';
}

.SurfyMaps > svg.container {
	background-color: #fdfdfd;

	> g.tiles {

		/*

		Zoom

		*/

		> g.zoom {

			/*

			Water

			*/

			> g.water {				
				pointer-events: none;
				fill: #e9eaeb;
			}

			/*

			Landuse

			*/

			> g.landuse {
				pointer-events: none;
				fill: #ededed;

				--opacity-rule: 14 1, 15.5 0;
				--opacity: 1;
				opacity: var(--opacity);
			}

			/*

			Green

			*/

			> g.green {
				// pointer-events: none;
				fill: #ededed;
			}

			/*

			Bridges

			*/

			> g.bridges {
				// pointer-events: none;
				fill-rule: evenodd;
				fill: #ebebeb;
				stroke: #bfbfbf;
				stroke-width: 1px;
				vector-effect: non-scaling-stroke;
			}

			/*

			Roads

			*/

			> g.roads {
				pointer-events: none;

				> g {
					// Tile

					> g.border {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 24px;
						stroke-linecap: round;
					}

					> g.fill {
						fill: none;
						stroke: #ff00ff;
						stroke-width: 20px;
						stroke-linecap: round;
					}
				}

				/*

				Services

				*/

				> use.servicesBorder {
					fill: none;
					stroke: #d8d8d8;
					stroke-width: 24px;
					stroke-linecap: round;
				}

				> use.services {
					fill: none;
					stroke: #ffffff;
					stroke-width: 20px;
					stroke-linecap: round;
				}

				/*

				Streets

				*/

				> use.streetsBorder {
					fill: none;
					stroke: #d8d8d8;
					stroke-width: 34px;
					stroke-linecap: round;
				}

				> use.streets {
					fill: none;
					stroke: #ffffff;
					stroke-width: 30px;
					stroke-linecap: round;
				}

				/*

				Primaries

				*/

				> use.highwaysBorder {
					fill: none;
					stroke: #d8d8d8;
					stroke-width: 54px;
					stroke-linecap: round;
				}

				> use.highways {
					fill: none;
					stroke: #ffffff;
					stroke-width: 50px;
					stroke-linecap: round;
				}
			}

			/*

			Railways

			*/

			> g.railways {
				pointer-events: none;
				fill: none;
				stroke: red;
				stroke-width: 1px;
			}

			/*

			Buildings

			*/

			> g.buildings {
				pointer-events: auto;
				--opacity-rule: 14 0, 15.5 1;
				--opacity: 1;
				opacity: var(--opacity);

				
				fill-rule: evenodd;
				fill: #f7f7f7;
				stroke: #bfbfbf;
				stroke-width: 1px;
				vector-effect: non-scaling-stroke;
			}

			/*

			Texts

			*/

			> g.texts {
				pointer-events: none;
				user-select: none;

				font-size: 42px;
				text-align: center;
				dominant-baseline: central;

				> text {
					text-rendering: optimizeSpeed;
				}
			}

			/*

			Bounds

			*/

			> g.bounds {
				pointer-events: none;
			}
		}
	}
}