/*

Surfy°Maps › Chrome

*/

$data: 'https://sandbox.maps.surfy.one/data';

.SurfyMaps {
	--name: 'Surfy°Maps.Chrome';
	--tiles: #{$data}/tiles/canary;
	--sprites: '/styles/chrome/sprites.svg';
}

.SurfyMaps > svg.container {
	background-color: #fdfdfd;

	> g.tiles {

		/*

		Zoom

		*/

		> g.zoom {

			/*

			Water

			*/

			> g.water {				
				pointer-events: none;
				fill: #e9eaeb;
			}

			/*

			Landuse

			*/

			> g.landuse {
				pointer-events: none;
				fill: #f2f2f2;

				--opacity-rule: 14 1, 15.5 0;
				--opacity: 1;
				opacity: var(--opacity);
			}

			/*

			Green

			*/

			> g.green {
				pointer-events: none;
				fill: #ededed;

				--opacity-rule: 14 0, 15.5 1;
				--opacity: 1;
				opacity: var(--opacity);
			}

			/*

			Bridges

			*/

			> g.bridges {
				pointer-events: none;
				fill-rule: evenodd;
				fill: #ebebeb;
				stroke: #bfbfbf;
				stroke-width: 1px;
				vector-effect: non-scaling-stroke;
			}

			/*

			Railways

			*/

			> g.railways {
				pointer-events: none;
				fill: none;
				stroke: #bebebe;
				stroke-width: 2px;
			}

			/*

			Roads

			*/

			> g.roads {
				// pointer-events: none;

				> g.border {
					

					> g.streets {
						fill: none;
						stroke-linecap: round;
						stroke: #d8d8d8;
						stroke-width: 34px;
					}

					> g.highways {
						fill: none;
						stroke-linecap: round;
						stroke: #d8d8d8;
						stroke-width: 74px;
					}
				}

				> g.fill {

					> g.tunnels {
						fill: none;
						stroke-linecap: round;
						stroke: #ffffff;
						stroke-width: 70px;
						opacity: .5;
					}

					> g.streets {
						fill: none;
						stroke-linecap: round;
						stroke: #ffffff;
						stroke-width: 30px;
					}

					> g.highways {
						fill: none;
						stroke-linecap: round;
						stroke: #ffffff;
						stroke-width: 70px;
					}
				}

			}

			/*

			Buildings

			*/

			> g.buildings {
				pointer-events: auto;
				--opacity-rule: 14 0, 15.5 1;
				--opacity: 1;
				opacity: var(--opacity);

				
				fill-rule: evenodd;
				fill: #f7f7f7;
				stroke: #bfbfbf;
				stroke-width: 1px;
				vector-effect: non-scaling-stroke;
			}

			/*

			Stations

			*/

			> g.stations {
				user-select: none;

				--font-rule: 12 20, 16 4;
				--font-dim: vw;
				--font: 19vw;
				font-size: var(--font);

				fill: #9f9f9f;
				// text-anchor: middle;
				dominant-baseline: central;

				--opacity-rule: 13 0, 14 1;
				--opacity: 1;
				opacity: var(--opacity);

				// Tile
				> g {

					// Label
					> svg {
						> image {
							x: -3.5em;
							y: -1.5em;
							width: 3em;
							height: 3em;
						}

						> text {
							--opacity-rule: 14 0, 15 1;
							--opacity: 1;
							opacity: var(--opacity);

						}
					}
				}
			}

			/*

			Labels

			*/

			> g.labels {
				user-select: none;
				
				--font-rule: 12 60, 16 12;
				--font-dim: vw;
				--font: 19vw;
				font-size: var(--font);

				--opacity-rule: 11 0, 13 1, 15 1, 17 0;
				--opacity: 1;
				opacity: var(--opacity);
				
				fill: #9f9f9f;
				text-anchor: middle;
				dominant-baseline: central;

				> g {
					> text {
						text-rendering: optimizeSpeed;
					}
				}
			}

			/*

			Texts

			*/

			> g.texts {
				pointer-events: none;
				user-select: none;

				font-size: 42px;
				text-align: center;
				dominant-baseline: central;

				> text {
					text-rendering: optimizeSpeed;
				}
			}

			/*

			Bounds

			*/

			> g.bounds {
				display: none;
				pointer-events: none;
			}
		}
	}
}