/*

Surfy°Maps › Chrome

*/

.SurfyMaps {
	--surfy-maps-style-name: 'Surfy°Maps.Chrome';
	--surfy-maps-tiles: 'https://sandbox.maps.surfy.one/data/tiles/london';
}

.SurfyMaps > svg.container {
	background-color: #fdfdfd;

	> g.tiles {

		/*

		Zoom

		*/

		> g.zoom {

			/*

			Tile

			*/

			> g.tile {

				/*

				Water

				*/

				> g.water {
					pointer-events: none;

					> g.water {
						fill: #e9eaeb;
					}
				}

				/*

				Landuse

				*/

				> g.landuse {
					> g.landuse {
						fill: #ededed;
					}
				}

				/*

				Green

				*/

				> g.green {
					pointer-events: none;

					> g.green {
						fill: #ededed;
					}
				}

				/*

				Roads

				*/

				> g.roads {
					pointer-events: none;

					/*

					Bridges

					*/

					> g.bridges {
						fill-rule: evenodd;
						fill: #ebebeb;
						stroke: #bfbfbf;
						stroke-width: 1px;
						vector-effect: non-scaling-stroke;
					}

					/*

					Services

					*/

					> use.servicesBorder {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 24px;
						stroke-linecap: round;
					}

					> use.services {
						fill: none;
						stroke: #ffffff;
						stroke-width: 20px;
						stroke-linecap: round;
					}

					/*

					Streets

					*/

					> use.streetsBorder {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 34px;
						stroke-linecap: round;
					}

					> use.streets {
						fill: none;
						stroke: #ffffff;
						stroke-width: 30px;
						stroke-linecap: round;
					}

					/*

					Primaries

					*/

					> use.primariesBorder {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 54px;
						stroke-linecap: round;
					}

					> use.primaries {
						fill: none;
						stroke: #ffffff;
						stroke-width: 50px;
						stroke-linecap: round;
					}

					/*

					Trunks

					*/

					> use.trunksBorder {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 84px;
						stroke-linecap: round;
					}

					> use.trunks {
						fill: none;
						stroke: #ffffff;
						stroke-width: 80px;
						stroke-linecap: round;
					}

					/*

					Motorways

					*/

					> use.motorwaysBorder {
						fill: none;
						stroke: #d8d8d8;
						stroke-width: 84px;
						stroke-linecap: round;
					}

					> use.motorways {
						fill: none;
						stroke: #ffffff;
						stroke-width: 80px;
						stroke-linecap: round;
					}
				}

				/*

				Railways

				*/

				> g.railways {
					pointer-events: none;
					display: none;
					
					> g.railways {
						fill: none;
						stroke: red;
						stroke-width: 1px;
					}
				}

				/*

				Buildings

				*/

				> g.buildings {
					pointer-events: auto;
					--opacity-rule: 14 0, 15.5 1;
					--opacity: 1;
					opacity: var(--opacity);

					> g.buildings {
						fill-rule: evenodd;
						fill: #f7f7f7;
						stroke: #bfbfbf;
						stroke-width: 1px;
						vector-effect: non-scaling-stroke;
					}

					> g.studiums {
						fill-rule: evenodd;
					}
				}

				/*

				Texts

				*/

				> g.texts {
					pointer-events: none;
					user-select: none;

					font-size: 42px;
					text-align: center;
					dominant-baseline: central;

					> text {
						text-rendering: optimizeSpeed;
					}
				}
			}
		}
	}
}