/*

Surfy° Maps

*/

.SurfyMap {
	width: 100vw;
	height: 100vh;
}

.SurfyMap > .container {
	transform: translate3d(0,0,0);
	user-select: none;
	// pointer-events: none; // Uncomment for production

	
}
